body {
    -webkit-user-select: none;
    user-select: none;
}

#reader-content {
    text-align: justify;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    z-index: 100;
}

#reader-content > h5 {
    letter-spacing: 2px;
    padding-bottom: 0.25rem;
    border-bottom: solid 1px;
}

.navbar {
    opacity: 0.9;
    z-index: 110;
}

.navbar label {
    font-size: 12px;
}

.m-reader-action > div {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 101;
}

.reader-action-center-v {
    top: 15%!important;
    bottom: 15%!important;
}

.btn-reader,
.btn-reader:focus,
.btn-reader:hover {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

.btn-color {
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 15px!important;
    margin-right: 1.25rem!important;
}

.btn-color.active {
    border: 2px #ff7800 solid;
}

.icon {
    height: 15px;
    width: 15px;
}
